:root{
    --bg-sidebar:#E8E9ED;
    --bg-main:#EFFAFF;
    --bg-button:#007CBA;
    --bg-popup:#C1EAFF;
    --bg-entity-button:#00FFD4;
    --bg-footer:#007CBA
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    
}
body{
    background: #EFFAFF;
}

/* new changes */
.yote2{
    width: 80%;
  
 margin-left: 15%;
 margin-top: 5%; 
    
}


section{

    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    background: var(--bg-main);
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;

}
/* new changes */
section .imgbx{
    position: relative;
    width: 40%;
    height: 100%;
    
}

/* new changes */
section .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
   padding-top: 10px;
    width: 100%;
   height: px;
    /* padding-left: 40px; */
    display: grid;
  
}
/* new changes */
section .imgbx2 img{
    position:absolute;
    top: 0;
    left: 0;
    padding-top: 180px;
    width: 100%;
    height: 455px;

    /* padding-left: 40px; */
    padding-bottom: 18px;
  
}
/* new changes */
#insd2{
    margin-bottom:0px;
    font-weight: 700;
    width: 265px;
    font-size: 13.5px;
    padding-top: 8px;
    padding-bottom:8px;
    margin-left: 12%;
    border-radius: 18px;
}

#sub2{
 
    width: 170px;
    margin-left: 18px;
    height: 19px;
    margin-bottom: 15px;
}


/* new changes */
#ins2{
    margin-top:10px ;
    margin-bottom:15px ;
    font-size: 18px;
    color: #007CBA;
    cursor: pointer;
    margin-left: 12%;


}

#linked2{
    border-radius: 60%;
}


#insde2{
    margin-bottom:10px ;
    font-size: 11px;
    color: rgb(134, 131, 131);
    font-weight: 10;
  cursor: pointer;
}


/* new changes */
#in2{
    margin-bottom:10px ;
    color: rgb(0, 0, 0);
    font-weight: 700;
    width: 265px;
    font-size: 13.5px;
    padding-top: 8px;
    padding-bottom:8px;
    margin-left: 12%;
    border-radius: 18px;
}

#no22{
    background: white;
    border-radius: 50%;
}

.uni2{
    margin-bottom: 20px;
    
}

section .content2{

    display: flex;
    width: 50%;
    height: 100%;
}

/* new changes */
section .content2 .form2{
    
    width: 373px;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 18px;
    margin-left: 200px;
    padding-top: 0;
    padding-bottom: 40px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

#aro2{
    margin-left: 10px;
    padding-top: 5px;
    cursor: pointer;
}

section .content2 .form2 h3{
    color: rgb(95, 93, 93);
   padding-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    letter-spacing: 1px;

}

section .content2 .form2 .input2 input{
    width: 100%;
    padding:5px;
    outline: none;
    border: 1px solid rgb(184, 178, 178);

    color: rgb(61, 57, 57);
    background: white;
    border-radius: 10px;
    font-size: 9px;
}
section .content2 .form2 .input2 input[type="submit"]{
    background: #007CBA;
    color: rgb(255, 255, 255);
    border: none;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 3px;
    font-size: 9px;
}
section .content2 .form2 .input2 input[type="submit"]:hover{
    background: rgb(219, 215, 215);
    color: rgb(126, 124, 124);
}

section .content2 .form2 .input2 p{
    color: rgb(0, 0, 0);
}

section .content2 .form2 h5{
margin-left: 7px;
color: rgb(90, 88, 88);
}

/* new changes */
section .content2 .form2 h4{
    color: gray;
text-align: center;
margin:10px 0 10px ;
font-weight: 500;
font-size: 20px;
}
section .content2 .form2 .uni2{
    display: flex;
    justify-content: center;
    align-items: center;
}

section .content2 .form2 .uni2 li{
    list-style: none;
    border-radius: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    border-radius: 12px;
  
    cursor: pointer;
    padding-right: 3px;
  
}


#lin2 {
    background: #007CBA;
    border-radius: 16px;
    margin-right:10px ;
    
}
#lin2:hover{
    background: #1f9ad8;
    
}

#lins2 {
    background: white;
    border-radius: 16px;
    margin-right:10px ;
    padding-right: 10px;
}

#lins2:hover{
    background: #f1f1f1;
    
}


#linss2 {
    background: #007CBA;
    border-radius: 16px;
}

#linss2:hover{
    background: #1f9ad8;
    
}



#yo2{
    color: black;
    text-decoration: none;
   
}

/* new changes */
#sap2{
    font-size: 12px;
    color: rgb(255, 255, 255);
   
  
   
}

/* new changes */
#sap22{
    font-size: 14px;
    color: rgb(0, 0, 0);
   
}
#sap32{
    font-size: 9px;
    color: white;
  
}

/* new changes */
#orr2{
    width: 22px;
    margin-left:45%;
     border-radius: 50%;
     z-index: 200;
    border: 1px solid gray;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
  }


  /* new changes */
ul::before{
      content: '';
      display: block;
     width:23.2%;
     height: 1px;
     background: rgb(184, 181, 181);
     position: fixed;
     left: 10;
     z-index: 1;
     bottom: 62%;
     margin-right: 30px;
  }


  
@media (max-width: 1050px)
{
   

    section .content2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 100%;
        z-index: 5;
    
        }

        .yote2{
        width: 80%;
          
         margin-left: 5%;
         margin-top: 3%; 
            
        }

        section .content2 .form2{
            justify-content: right;
            align-items: center;
           
        }
        ul::before{
            width:35%;
 
         }

         /* section .content2 .form2 .input2 input[type="submit"]{
           
        } */


}
@media (max-width: 1150px)
{
    section .content2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 100%;
        z-index: 5;
    
        }
        
        .yote2{
        width: 80%;
          
         margin-left: 10%;
         margin-top: 5%; 
            
        }

        section .content1 .form1{
            justify-content: right;
            align-items: center;
           
        }
        ul::before{
            width:35%;
 
         }

         /* section .content2 .form2 .input2 input[type="submit"]{
           
        } */

}


@media (max-width: 1316px)
{
    section .content2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 100%;
        z-index: 5;
    
        }
        section .imgbx{
            visibility: hidden;
        }
        section .content1 .form1{
            justify-content: right;
            align-items: center;
            margin-left: 20px;
        }
                
        ul::before{
           width:35%;

        }
      
}