
:root{
    --bg-sidebar:#E8E9ED;
    --bg-main:#EFFAFF;
    --bg-button:#007CBA;
    --bg-popup:#C1EAFF;
    --bg-entity-button:#00FFD4;
    --bg-footer:#007CBA
}


section{
    margin: 0px;
    background-color: var(--bg-main);
    font-family: Arial;  
     max-block-size: none;   
}


.padd-2{
    padding-left: 2px;
    padding-top: 2px;
}

.boxed{
    background-color: white;
    width:150px;
    height:150px;
    border-radius: 10px;
    margin-left: 5%;
    
}
 

.top-row{
    display: flex;
    width: 100;
    /* flex-direction: row; */
    
    flex: 0 0 33.33%;
}
.item{
    width:100%;
    flex: 0 0 33.33%;
    padding:1%;
    

}
.join{
    display: flex;
    /* flex-direction: row; */
    /* width: 100%; */
    
}

.card-content{
    display: flex;
    flex-direction: row;
    width: 20%;
    flex:0% 0% 33.33%;
    
}
.card-text1{
    width: 100%;
    word-spacing: 1px;
    max-width: 33.33%;


}
.mpemba{
    display:flex;
    flex-direction: row;
    max-width:25%;
    padding: 10px;
    justify-content: space-between;
}
           
    
.mtongwe{
    background-color: white;
    margin-left: 5%;
    margin-right: 10%;
    text-align: center;
    width: 100%;
    
}

.boarderless {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: thin;
    background-color: white;
    margin-left: 50px;
  }

  
  .boarderless:focus{
      outline: none;
  }
  .boarderlesss {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: white;
  }
  .progress-div{
      background-color: white;
      text-align: center;
      min-width: 30%;
      
  }
  .padd-15{
    padding: 15px;
  }
  .prog{
      content: "";
  }
  .line-graph{
      background-color: white;
      min-width: 70%;
      margin: 15px;
  }

.middle-cards{
    display:flex;
    flex-direction: row;
    min-width: 33%;
}






