*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    
}
#fil{
   
    display: none;
}

#fil1{
   
    display: none;
}
#fil2{
   
    display: none;
}
#fil3{
   
    display: none;
}
#file{
   
    display: none;
}
#lab{
    background-color: rgb(255, 255, 255);
    padding: 2px;
   
   border: 1px solid gray;
    border-radius: 5px;
    margin-right: 5px;
    box-shadow: 0px 3px 5px rgba(139, 137, 137, 0.5);
    font-size: 100%;
  
    margin-bottom: 5px;
    cursor: pointer;
}

body{
    background: #EFFAFF;
}

.prof{
    width:40%;
    height: 100%;
 
    justify-content: center;
    align-items: center;
}


h3{
    margin-top: 50px;
    margin-left: 60%;
    color: rgb(102, 99, 99);
   
}
#btn1{
    margin-left: 100px;
}


/* new changes */
.frame{
    
    border: 2px solid #EFFAFF;
    align-items: center;
    justify-content: center;
    width: 530px;
    height: 100%;
    margin-left: 80%;
    box-shadow: 0px 3px 5px rgba(139, 137, 137, 0.5);

}
.prof1{
    justify-content: center;
    align-items: center;
    background: #EFFAFF;
    width: 100%;
    height: 100%;
}


/* new change */
.frame .form{
   
    padding-top: 8px;
    padding-left: 60px;
    padding-right: 80px;
    padding-bottom: 10px;
    font-size: 12px;
    
}
.frame .form input{
    width: 100%;
    background: white;
    border: 1px solid gray;
    margin-bottom: 10px;
    box-shadow: 0px 3px 5px rgba(139, 137, 137, 0.5);
    border-radius: 2px;
}

#btn1{

   margin-left:0%;
   margin-right: 4%;
  padding-right: 25px;
  border-radius: 5px;
  margin-bottom: 7%;
  cursor: pointer;
  border: 1.2px solid gray;
  background: white;
  font-size: 11px;
  box-shadow: 0px 3px 5px rgba(139, 137, 137, 0.5);
  z-index: 10;
}

#btn2{
   
   padding-right: 27px;
   border-radius: 5px;
   cursor: pointer;
   border: 1.2px solid gray;
   background: white;
   font-size: 11px;
   box-shadow: 0px 3px 5px rgba(139, 137, 137, 0.5);
 }

 /* new chamges */
#btn3{
background:  #007CBA;
width: 30%;
color: white;
margin-left: 42%;
border-radius: 20px;
border: 1px solid gray;
font-size: 15px;
cursor: pointer;

}

#btn4{
    background: #00FFD4;
    padding-left: 2px;
    cursor: pointer;
    border: 1.3px solid gray;
    text-decoration: none;
    border-radius: 3px;
    color: black;
}
#btn5{
    background: white;
    padding-right: 3px;
    color: black;
    padding-left: 2px;
    cursor: pointer;
    border: 1px solid gray;
    margin-left: 15px;
    text-decoration: none;
    border-radius: 3px;
}


 h4{
     color:  #007CBA;
     margin-bottom: 6%;
     cursor: pointer;
     font-size: 18px;
     
 }


 .top{
     justify-content: center;
     align-content: center;
     width: 100%;
     margin-left: 100%;
     margin-bottom: 3%;
     margin-top: 3%;
 }

 #aro{
     margin-left: 10px;
     cursor: pointer;
 }


 /* new changes */
 .wrapper{
     position: relative;
     height: 70px;
     width: 70px;
  
     border-radius: 50%;
 
     background: url(../../images/contact.png);
     background-size: 100% 100%;
     margin-left: 45%;
     overflow: hidden;

 }

 .doc{
    position: relative;
  
    width: 115px;

    background-size: 100% 100%;
    
    overflow: hidden;
 }

 .fil{
    position: relative;
    bottom: 0;
    outline: none; 
    color: transparent;
    opacity: 1;
 
    box-sizing: border-box;
    padding: 3px 0px;
    cursor: pointer;
    transition: 0.5s;
 }

/*  
 .idcopy{
    position: relative;
    bottom: 0;
    outline: none; 
    color: transparent;
    opacity: 1;
 
    box-sizing: border-box;
    padding: 3px 0px;
    cursor: pointer;
    transition: 0.5s;
 } */
 .input{
    position: absolute;
    bottom: 0;
    outline: none; 
    color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding: 3px 0px;
    cursor: pointer;
    transition: 0.5s;
 }

 .input::-webkit-file-upload-button{
     visibility:hidden;
 }

 .input::before{
     content: "";
     font-size: 10px;
    
     color: #fff;
    display: inline-block;
    
 }
 .input::after{
     content: '';
     
     margin-left: 10px;
     color: #fff;
     display: block;
     top: 70px;
     font-size: 8px;
  
  
 }


 #shut{
 
     margin-bottom: 50px;
 }

 .modal{
     position: fixed;
     top:24%;
     left: 38%;
     
     border: 2px solid #C1EAFF;
    background: #C1EAFF;
    border-radius: 2px;
    z-index: 10;
    width: 250px;
    max-width: 80%;
 }

.modal.active{
   overflow-y: hidden;
}


 .sms{
     display: flex;
     padding: 10px 5px;
     justify-content: space-between;
     align-items: center;
     font-size: bold;
     font-size:14px;
     font-weight: bold;
 }

 .sms .close-button {
     cursor: pointer;
     border: none;
     outline: none;
     background: black;
     color: white;
     border-radius: 50%;
     font-size: 10px;
     font-weight: bold; 
     width: 15px;
     height: 12px;

 }


 @media (max-width: 880px)
 {
    h3{
        margin-top: 30px;
        margin-left: 50%;
        color: rgb(102, 99, 99);
    }
    #lab{
     
        margin-right: 5px;

        font-size: 81%;

    }
 }


 
  
@media (max-width: 760px)
{

    .frame{
        position: absolute;
        border: 2px solid #EFFAFF;
        align-items: center;
        justify-content: center;
        width: 350px;
        height: 80%;
        margin-left: 20%;
        box-shadow: 0px 3px 5px rgba(139, 137, 137, 0.5);
    
    }

 
        
.frame .form{
   
    width: 200px;
    padding-top: 8px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    font-size: 12px;
    margin-left: 70px;
    
}
h3{
    margin-top: 30px;
    margin-left: 10%;
    color: rgb(102, 99, 99);
}

#btn4{
    background: #00FFD4;
    padding-right: 5px;
    padding-left: 2px;
    cursor: pointer;
    border: 1.3px solid gray;
}
#btn5{
    background: white;
    padding-right: 5px;
    color: black;
    padding-left: 2px;
    cursor: pointer;
    border: 1.3px solid gray;
    margin-left: 10px;
}

.top{
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-left: 60%;
    margin-bottom: 3%;
    margin-top: 3%;
}


}
@media (max-width: 450px)
{
    .frame{
        position: absolute;
        border: 2px solid #EFFAFF;
        align-items: center;
        justify-content: center;
        width: 290px;
        height: 80%;
        margin-left: 20%;
        box-shadow: 0px 3px 5px rgba(139, 137, 137, 0.5);
    
    }
    
.frame .form{
   
    width: 200px;
    padding-top: 8px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    font-size: 12px;
    margin-left: 40px;
    
}
h3{
    margin-top: 30px;
    margin-left: 10%;
    color: rgb(102, 99, 99);
}

#btn4{
    background: #00FFD4;
    padding-right: 5px;
    padding-left: 2px;
    cursor: pointer;
    border: 1.3px solid gray;
}
#btn5{
    background: white;
    padding-right: 5px;
    color: black;
    padding-left: 2px;
    cursor: pointer;
    border: 1.3px solid gray;
    margin-left: 10px;
}

.top{
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-left: 60%;
    margin-bottom: 3%;
    margin-top: 3%;
}
.wrapper{

    margin-left: 120px;
    overflow: hidden;

}


}


@media (max-width: 400px)
{
   h3{
       margin-top: 30px;
       margin-left: 0%;
       color: rgb(102, 99, 99);
   }
}




@media (max-width: 380px)
{
    .frame{
        position: absolute;
        border: 2px solid #EFFAFF;
        align-items: center;
        justify-content: center;
        width: 290px;
        height: 80%;
        margin-left: 10px;
        box-shadow: 0px 3px 5px rgba(139, 137, 137, 0.5);
    
    }
    
.frame .form{
   
    width: 200px;
    padding-top: 8px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    font-size: 12px;
    margin-left: 40px;
    
}
h3{
    margin-top: 30px;
    margin-left: 0%;
    color: rgb(102, 99, 99);
    font-size: 14px;
}

#btn4{
    background: #00FFD4;
    padding-right: 5px;
    padding-left: 2px;
    cursor: pointer;
    border: 1.3px solid gray;
}
#btn5{
    background: white;
    padding-right: 5px;
    color: black;
    padding-left: 2px;
    cursor: pointer;
    border: 1.3px solid gray;
    margin-left: 10px;
}

.top{
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-left: 60%;
    margin-bottom: 3%;
    margin-top: 3%;
    font-size: small;
}
.wrapper{

    margin-left: 120px;
    overflow: hidden;

}


}

