.formu{
    background-color: var(--bg-main);
    box-shadow: 3px 3px 3px 3px #a5a6a7; 
    margin-left:13%;
   max-block-size: none;
    font-size: 20px;
    
   
}
.top-row{
    display: flex;
    width: 80%;
    
    /* flex-direction: row; */
    
    flex: 0 0 33.33%;
}
.unity{
    width:80%;
    flex: 0 0 33.33%;
    padding:5%;
    
} 
.head{
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-left: 5%;
    text-align: center;
    font-size: 100%;
    
}
.upload{
    width:30%;
    border-radius: 30px;
    background-color: white;
    margin: 4px;
}

    /* flex-direction: row; */
    /* width: 100%; */
    

.bottombtn{
    justify-content: center;
    text-align: center;
}#btn{
    background-color: var(--bg-button);
    color: white;
    border-radius: 30px;
}