/* homepage  */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.opaque {
  text-decoration: underline; 
  margin-bottom: 44px;
  text-align: center; 
  font-size: 30px;
  margin-top: 70px;
  margin-bottom: 20px;
}



body {
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  background: white;
  height: 70px;
  width: 100%;
}
label.theme {
  color: white;
  font-size: 44px;
  line-height: 80px;
  padding: 0 20px;
  font-weight: bold;
}
label.theme img {
  width: 70%;
  height: 70%;
  margin: 10px 2px 0 2px;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  padding: 7px 13px;
  color: black;
  font-size: 18px;
  /* text-transform: lowercase; */
  border-radius: 5px;
}
nav ul li a.active,
a:hover {
  background: rgb(54, 147, 233);
  transition: 0.5s ease;
}


@media screen and (max-width: 685px) {
  .current-opp  {
    border: none;
    width: 50%;
    height: 0;
    padding-bottom: 70%;
  }

  label span {
    font-size: 50pt;
  }

  .prev,
  .next {
    width: 15%;
  }
}
@media screen and(min-width: 970px) {
  .me {
    display: none;
  }
}

/* slider carousel  */

#upo,
#sipo,
#dipo {
  display: none;
}

.teleza {
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  width: inherit;
  height: 0;
  padding-bottom: 38%;
  background-color: #1c1c1c;
}

.teleza .pichamtelezo {
  position: absolute;
  width: 100%;
  height: 100%;
}
.teleza .pichamtelezo img {
  width: 100%;
  height: 100%;
}

.prev,
.next {
  width: 12%;
  height: inherit;
  position: absolute;
  top: 0;
  background-color: transparent;
  color: white;
  z-index: 99;
  transition: 0.45s;
  cursor: pointer;
  text-align: center;
}

.next {
  right: 0;
}
.prev {
  left: 0;
}

label span {
  position: absolute;
  font-size: 44px;
  top: 50%;
  transform: translateY(-50%);
}

.prev:hover,
.next:hover {
  transition: 0.3s;
  color: black;
}

.slide_img {
  z-index: -1;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four,
#i5:checked ~ #five {
  z-index: 9;
  animation: scroll 1s ease-in-out;
}
@keyframes scroll {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 685px) {
  .container {
    border: none;
    width: 100%;
    height: 0;
    padding-bottom: 55%;
  }

  label span {
    font-size: 50pt;
  }

  .prev,
  .next {
    width: 15%;
  }
}
@media screen and(min-width: 970px) {
  .me {
    display: none;
  }
}

/* end */

/* opportunities */

.opp-row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.current-opp {
  /* width: 100%; */
  margin: auto;
  padding-top: 20px;
  margin-bottom: 44px;
  border-bottom: 1px solid rgba(194, 193, 193, 0.692);
  padding-bottom: 24px;
}
.opaque {
  text-decoration: underline; 
  margin-bottom: 44px;
  text-align: center; 
  font-size: 30px;
  margin-top: 70px;
  margin-bottom: 20px;
}
.opportunities {
  border-radius: 0px;
  margin-bottom: 5%;
  width: 40%;
  height: 100%;
  margin: 20px 80px; /* Change this to fit all images */
  box-shadow: 0 0 1.5px black;
}
.opportunities img {
  width: 100%;
  border-radius: 0px;
}
.opportunities p {
  margin: 0;
  float: right;
  right:10px;
  margin-top: 10px;
  margin-right: 14px;
  color:black;
}
.opportunities h3 {
    text-align: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #080808;
  transition: all 0.4s ease 0s;
}
button {
  width: 50%;
  padding: 8px 16px;
  border-radius: 25px;
  border: none;
  margin: 10px auto;
  float: right;
  margin-right: 10px;
  margin-top: 15px;
  height: 35px;
  background: rgb(23, 91, 136);
  cursor: pointer;
}
.opportunities .invest a {
  font-size: 20px;
  font-weight: 400;
  font-family: arial;
  text-decoration: none;
  color: white;
  text-align: center;
  width: 44px;
  margin-bottom: 15px;
}

/* end  */

/* services */

.services-container {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 44px;
  border-bottom: 1px solid rgba(194, 193, 193, 0.692);
  padding-bottom: 44px;
}
.serve-row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.services-container h1 {
  text-decoration: underline;
  margin-bottom: 44px;
}
.services-container h2 {
  margin-top: 10px;
  margin-bottom: 44px;
}
.services-image {
  border-radius: 0px;
  /* margin-bottom: 5%; */
  width: 200px;
  height: 200px;
  margin: 20px 80px; /* Change this to fit all images */
  box-shadow: 0 0 1.5px black;
}
.services-image img {
  height: 150px;
  margin-top: 10px;
}
.services-images {
  border-radius: 0px;
  /* margin-bottom: 5%; */
  width: 200px;
  height: 200px;
  margin: 20px 80px; /* Change this to fit all images */
  box-shadow: 0 0 1.5px black;
}
.services-images img {
  height: 150px;
}
/* end */

/* philosophy */
.phil-container h1 {
  text-decoration: underline;
  margin-bottom: 44px;
  text-align: center;
}

.phil {
  width: 100%;
  margin: auto;
  display: flex;
  padding-top: 20px;
  margin-bottom: 44px;
  border-bottom: 1px solid rgba(194, 193, 193, 0.692);
  padding-bottom: 44px;
}
.phil p {
  border-top: 0.1px solid rgba(71, 70, 70, 0.692);
  display: inline-block;
  vertical-align: top;
  margin: 0 47px;
  line-height: 27.8px;
}
.phil img {
  max-height: 300px;
  width: 620px;
}
/* end */

/* partners */
.part-row {
  display: flex;
  justify-content: space-between;
}
.partners-container {
  max-width: 1170px;
  margin: auto;
  margin-top: 70px;
}
.partners-container h1 {
  text-decoration: none;
  margin-bottom: 44px;
  text-align: center;
}
.part-images {
  width: 204px;
  height: 204px;
  padding-right: 40px;
  padding-bottom: 40px;

  margin: 40px 20px; /* Change this to fit all images */
  box-shadow: 0 0 1.5px black;
}
.part-images img {
  margin: 40px;
  margin-left: 15px;
  margin-top: 20px;
  width: 100%;
  height: 97%;
}
.part-images h2 {
  text-align: center;
  font-size: 20px;
  margin-top: 10pxpx;
  margin-left: 20px;
}
.part-image {
  width: 70%;
  height: 70%;
  margin: 40px;
}
/* end */

/*--------- footer  -------*/

.footcontainer {
  max-width: 1170px;
  margin: auto;
  margin-top: 50px;
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
ul {
  list-style: none;
}
.footer {
  height: inherit;
  max-width: 100%;
  justify-content: space-between;
  background-color: #08a7c4fa;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 35px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-top: 15px;
  margin-bottom: 25px;
  font-weight: 500;
  position: relative;
}
/* .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}  */
.footer-col ul li:not(:last-child) {
  margin-bottom: 5px;
}
.footer-col p {
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 200;
  display: block;
  transition: all 0.3s ease;
  padding-right: 44px;
  width: 100%;
  line-height: 27.8px;
}
.footer-col ul li,
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
  padding: 4px 0;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
  background: transparent;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
/* end */


/* homepage end */

section{
  margin: 0px;
  background-color: var(--bg-main);
  font-family: Arial;
  
 
}

.padd-2{
  padding-left: 2px;
  padding-top: 2px;
}
.padd-15{
  padding: 15px;
}
.forms{
  background-color: var(--bg-main);
   box-shadow: 3px 3px 3px 3px #a5a6a7; 
  margin-left:0%;
  
 
}
.top-row{
  display: flex;
  width: 100;
  /* flex-direction: row; */
  
  flex: 0 0 33.33%;
}
.item{
  width:100%;
  flex: 0 0 33.33%;
  padding:1%;
  
} 
.heading{
  text-decoration: underline;
  font-family: Arial;
  padding-top: 20px;
  padding-left: 20px;
}
.upload{
  width:30%;
  border-radius: 30px;
  background-color: white;
  margin: 4px;
}
.join{
  display: flex;
  /* flex-direction: row; */
  /* width: 100%; */
  
}
.bottombtn{
  justify-content: center;
  text-align: center;
}#btn{
  background-color: var(--bg-button);
  color: white;
  border-radius: 30px;
}
/* invest */
.card1{
  background-color: white;
  margin: 15vw;
  margin: 2.5%;
  width: 44vw;

  
}
.card-content{
  display: flex;
  flex-direction: row;
  width: 44vw;
  flex:0% 0% 33.33%;

}
.card-text1{
  width: 100%;
  word-spacing: 4px;
  max-width: 44.33%;
}
.form-check{
  display: block;
  flex-direction: row;
}
.form-check-radio{
  display: flex;
  flex-direction: row;
  width:100% ;
  
}
.radio-items{
  padding-left: 15px;
  width: 25%;
}.doughnut{
  display: flex;
  flex-direction: row;
  max-width: 33.33%;
}
#chartContainer{
  width: 100px;
  height: 100px;
}
.top-cards{
  display:flex;
  flex-direction: row;
  max-width:25%;
  padding: 15px;
  justify-content: space-between;
  

}
.top-card-item{
  background-color: white;
  margin-left: 3%;
  margin-right: 5%;
  text-align: center;

  width: 100%;
  
}
.boarderless {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: thin;
  background-color: white;
  margin-left: 80px;
}


.boarderless:focus{
    outline: none;
}
.boarderlesss {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: white;
}
.progress-div{
    background-color: white;
    text-align: center;
    min-width: 30%;
}
.prog{
    content: "";
}
.line-graph{
    background-color: white;
    min-width: 70%;
    margin: 15px;
}
.middle-cards{
  display:flex;
  flex-direction: row;
  min-width: 33%;
}
#legal-entity{
  visibility: hidden;
}

/* popup */
.popup{
  display: none;
  position: relative;
  bottom:150%;
  right: 15px;
  border: 1px black;
  box-shadow: gray 2px solid;
  z-index: 9;
  background-color: var(--bg-popup);
  width: 230px;
  height: 100px;
}

.btn-close{
  text-align: right;
  top: auto;
  color: black;
  
  float: right;
  margin-left: 80%;
}

/* tooltip */
.tooltipp {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
 
}

.tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: white;
 
  
  border-radius: 6px;
  padding: 5px 0;
  border:1px solid black  ;
 

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.blue-iconn:hover + .tooltiptext {
  visibility: visible;
}

.h1{
  color:red;
}
.tooltiptext h4{
  text-align:center;
   text-decoration: underline;
    color:black
}
.tooltip-header{
  display: flex;
  flex-direction: row;
}


/* carosel */

.clearfix:before, .clearfix:after {
content: "";
display: table;
}
.clearfix:after {
clear: both;
}
.carousel {
width:1150px;
margin:30px auto;
}

.carousel .box {
float:left;
width: 33%;
background-color: white;
margin: 1%;
}
.carousel .box p{
font-size:20px;
color:black;
text-align:center;
margin:0px;
}
.carousel .box p span{
font-size: 14px;
color: #000;
font-weight: bold;
}

.slick-prev, .slick-next {
width: 22px;
height: 33px;
position: absolute;
top: 30%;
display: block;
padding: 0;
cursor: pointer;
color: transparent;
border: none;
outline: none;
z-index: 100;
}

.slick-prev {
background-position: 0px;
left: 0px;
}
.slick-next {
background-position: -22px;
right: 0px;
}

@media only screen and (max-width: 1180px) {
.carousel {
width:90%;
}
}



/* FOOTER */
.footcontainer {
  max-width: 1170px;
  margin: auto;
  margin-top: 45px;
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
ul {
  list-style: none;
}
.footer {
  height: inherit;
  max-width: 100%;
  justify-content: space-between;
  background-color: #08a7c4fa;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 35px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-top: 15px;
  margin-bottom: 25px;
  font-weight: 500;
  position: relative;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 5px;
}
.footer-col p {
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 200;
  display: block;
  transition: all 0.3s ease;
  padding-right: 44px;
  width: 100%;
  line-height: 27.8px;
}
.footer-col ul li,
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
  padding: 4px 0;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
  background: transparent;
}


@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
/* end */
.form {
justify-items: center;
}
